*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.container {
  border: 1px solid black;
  border-radius: 20px;
  background-color: grey;
  padding: 0.5rem;
}

#screen {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  font-size: xx-large;
  height: 4rem;
  background-color: rgb(89, 89, 89);
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  overflow-x: hidden;
}

button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.1rem;
  border-radius: 100%;
  cursor: pointer;
  font-size: medium;
  border: 1px solid black;
  margin: 0.2rem;
}

.top-btn {
  background-color: beige;
}

.sign-btn {
  background-color: orange;
}

#screen span {
  position: absolute;
  white-space: nowrap;
  animation: test 10s infinite linear;
}

@keyframes test {
  0% {
    transform: translateX(340px);
  }
  100% {
    transform: translateX(-200px);
  }
}
